.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.chats-container {
  height: 800px;
  /* Adjust this value to suit your needs */
  width: 800px;
  /* Adjust this value to suit your needs */
  overflow-y: auto;
}

.centered-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

.centered-input textarea:nth-child(1) {
  grid-column: span 2;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: left;
}

.centered-top {
  justify-content: center;
  align-items: center;
  height: 50px;
  /* Adjust this value to suit your needs */
}


button.active {
  border: 2px solid black;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  background: white;
  border: 2px solid black;
  z-index: 1000;
  padding: 20px;
}

.user {
  color: blue;
}

.response {
  color: green;
}